<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 要执行任务的任务类。 -->
    <bean id="job" class="com.penelope.quickstart.jobs.Job2"/>
    <!-- 将需要执行的定时任务注入JOB中。 -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="name" value="job1"/>
        <property name="group" value="group1"/>
        <property name="targetObject" ref="job"/>
        <!-- 任务类中需要执行的方法 -->
        <property name="targetMethod" value="execute"/>
        <!-- 上一次未执行完成的，要等待有再执行。 -->
        <property name="concurrent" value="false"/>
    </bean>
    <!-- 基本的定时器，会绑定具体的任务。 -->
    <bean id="trigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="name" value="trigger1"/>
        <property name="group" value="gruop1"/>
        <property name="jobDetail" ref="jobDetail"/>
        <property name="startDelay" value="3000"/>
        <property name="repeatInterval" value="2000"/>
    </bean>

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
    <bean id="QuartzStarter" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- 管理trigger -->
        <property name="triggers">
            <list>
                <ref bean="trigger"/>
            </list>
        </property>
    </bean>
</beans>